/* A CSS ruleset is how we change elements by giving them properties.
We so this using an selector followed by a declaration block, 
so for the first usage in this sheet, height IS the selector : { 100% } IS the declaration block.
Note the declaration block is always in {}, and multiple elements can be modified in the declaration block. */

/* Universal selectors such as * can be used to select all elements on the page and applys a style to them. They tend not to work well on large webpages, so it is best to limit their use. In this example we are using them to make sure all boxes are by default rendered as border boxes if that is not already specified or unless overridden by more specific selectors. 

::before and ::after are psuedo-elements that are used to change a specific part of the element. The ::before and ::after for example could normally add some formatting before the selected element content and the ::after would be able to add something after the content from the element has been placed. 

However, it is important to note that the universal selector cannot select these psuedo elements. That is why, in this code, we need to do *::before and *::after to make sure these psuedo elements are also selected and put into a border box.

:: colon is used in CSS3 to help distinguish between psuedo elements and psuedo classes */


*, *::before, *::after {
    /* Border boxs are different then content boxes. In a border box, the dimentions of the box if set with height and width properties will include the content, padding & border in the calculation. A content box only uses the content in this calculation, and the pardding, border, and margin are not included and any size for them will increase dimension of the box. Note that this element needs to use vendor tags for both webkit and for mozilla */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* This will modify all elements in the HTML document. */
html {
    height: 100%; /* Sets height of our HTML element to 100% of the window */
    font-size: 100%; 
}

body {
    font-family: 'Open Sans';  /*This font was linked to using the link in the index page */
    color: white; /* Font color will be white */
    min-height: 100%; /* Sets body height to 100% of the window */
}

.navbar {
    /* rem stands for Root em. It is a relative unit for calculating size of an element. em is defined by the width of 'm' in a particlar font. The root em is based on the font size of the root element, in this case the HTML parent. Rem is useful for element sizing  */
    padding: 0.5rem;
    background-color: rgb(101,18,95);
}

.navbar .logo {
/* This is a dependant selector. This will apply changes to the .logo classes which are within a .navbar class. It is important to seperate them with a space */
    position: relative;
    left: 2rem;
}

/*Media selector for medium screens (min 640px)*/

.container {
    margin: 0 auto; /* Recall syntax, 0 is top/bottom and auto is left/right margin */
    max-width: 64rem;
}

@media (min-width: 640px) {
/*This media selection will increase the font size in our HTML element. It will apply when the rule specified in brackets is set to true (boolean). It is dynamic (note if you move the window it will see the effect). Normal cascading rules apply, so a selector should always be placed under the element it is changing... or use a stronger specificity. Another note is that when changing font size in the HTML element you cannot use a relative unit because there is no parent to relate to. Note that in most browsers the default size for REM is usually 16 pixels. Finally, while we do not use it here, it is possible to use boolean logic operators to apply a condition only when a set of conditions are met. Logical and and , (here , represents or) */    
    html { font-size: 112%; }
    
    /* Responsive web development uses a grid system to set divisions on a page based on common proportions. Bootstrap and Foundation use popular grid systems, but we will design our own here. Grids change in layout based on device breakpoints (which we defined with the @media selector. Here we are adding the column class */
    .column {
        float: left; /* Float tells element to float along the left or right side of its container, where text and other inline elements can wrap around it. */
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    /*These define our column widths for our new columns */
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; } 

}

/*Media selector for large screens (min 1024px)*/
@media (min-width: 1024px) {
    html { font-size: 120%;} 
}

